*{
    padding: 0;
    margin: 0;
}
:root {
    --primary-color : #FBAD37;
    --secondary-color : #ffff;
    --fonts-color : black ;
}
.dark-mode {
    --primary-color : #FBAD37;
    --secondary-color : rgb(24, 23, 23);
    --fonts-color : #fff ;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
}
.header{
    height: 94px;
    width: 100%;
    box-shadow: 0px 5px 16px 0px  #c2bfbf;
    display: flex;
    background-color: var(--secondary-color);
}
#back{
    height: 22px;
    margin-left: 15px;
    margin-top: 33px;
    font-size: 20px;
    color: var(--fonts-color);
}
header .covid-19 {
    padding-top: 25px;
    padding-left: 20px;
    color: var(--fonts-color);
}
.covid-img{
    height: 30px;
}
header .dark-mode{
    height: 25px;
    float: right;
    padding-right: 20px;
    margin-left: 130px;
    padding-top: 33px;

}
/* Style Search bar */
Search-section {
    display: flex;
    flex-wrap: wrap;  
    justify-items: center;
    margin-left: 10%;
    margin-top: 50px;
    z-index: 100; 
    width: 60%;
  }
  #selectedCountry {
    border: none;
    outline: none;
    background-color: #afaaaa9c;
    width: 200px;
    height: 45px;
    border-radius: 40px 1px 0px 40px;
    margin: 10px;
    padding-left: 10px;
  }
  #search-button {
    background-color: #fc9906c0;;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    width: 100px;
    height: 45px;
    border-radius: 0px 40px 40px 0px;
    margin-top: 11px;
  }
  /* Card Style */
  .containar{
    width: 318px;
    height: 323px;
        background: #FFFFFF;
        box-shadow: 0px 5px 16px rgba(128, 128, 128, 0.2);
        border-radius: 20px;
        margin-left: 30px;
        margin-top: 27px;
    }
  .green-img{
      padding-left: 110px;
      padding-top: 50px;
  }
  .fetchApiNumber{
    width: 131px;
    height: 31px;
    padding-left: 105px;
    padding-top: 15px;
    color: #4BCC58;
  }
  .vaccine-title{
    padding-top: 80px;
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
  }